.award {
  padding: 20px;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid #ddd;
  background: #d1e7dd;
  flex: 0 0 60px;
  position: relative;
}

.award.selected {
  transform: scale(1.2);
  z-index: 1; 
}

.award-content {
  transition: transform 0.2s ease-in-out;
}

.award-content.animate {
  transform: translateY(-10px);
}

.award:not(.selected) {
  opacity: 0.5;
}
